@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: #243b4a; */
  color: #f96900;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
}

#welcome {
  font-size: 40px;
  text-shadow: 2.5px 2.5px 2.5px black;
}

.btn {
  background-color: white;
  border-radius: 5px;
  width: 100px;
  height: 25px;
  box-shadow: 0 9px 3px -5px #f96900;
  margin:20px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.landing {
  display: flex;
  flex-direction: row;
  /* background-color: #243b4a; */
  color: white;
  padding: 0 40px;
}

.link {
  text-decoration: none;
  color: black;
}


.link:hover{
  text-decoration: none;
  color: whitesmoke;

}

.left {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.right {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 640px;
}

#carousel {
  /* box-shadow: 10px -5px #f96900; */
  box-shadow: 15px 9px 3px -5px #f96900;
  margin: 0 10px;
}

#carouselExampleSlidesOnly {
  padding: 50px
}

.sign {
  display: flex;
  flex-direction: row;
}

.shadow {
  font-size: 22px;
  text-shadow: 2px 2px 2px black;
  font-family: 'Poppins', sans-serif;
}

.btn_login{
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 9px 3px -5px #f96900;
  font-size: 18px;
  margin-left: 20px;
  margin-top: 20px;
  border-color: #333;
  transition: 0.3s;
}

.btn_login:hover{
  color: whitesmoke;
  background-color: #333;
  border-color: whitesmoke;
}

.btn_signup{
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 9px 3px -5px #f96900;
  font-size: 18px;
  margin-left: 20px;
  margin-top: 20px;
  border-color: #333;
  transition: 0.3s;
}

.btn_signup:hover{
  color: whitesmoke;
  background-color: #333;
  border-color: whitesmoke;
}
