.main{
  border:  solid 1px #f968004b;
  width: 53vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 2vw 0 0;
  border-radius: 50px;
}

.mainNextDiv{
  text-align: center;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

