.main{
  border:  solid 1px #f968004b;
  width: 53vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 2vw 0 0;
  border-radius: 50px;
}

.mainNextDiv{
  text-align: center;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.commentArea {
    border: solid 1px black;
    height: 60vh;
    width: 45vw;
    background-color: #e9ebed;
    opacity: 0.9;
    padding: 0 30px;
    margin-bottom: 15px;
}

.commentArea > h1 {
  color: black;
  margin: 25px;
}