.header{
  color: whitesmoke;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.name{
  color: whitesmoke;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name_des{
  margin-right: 42px;
}

.date{
  color: whitesmoke;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.date_des{
  margin-left: 25px;

}

.date_input{
  margin-left: 30px;
}

.details{
  color: whitesmoke;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}


.event_des{
  margin-right: 29px;
}

.photo{
  color: whitesmoke;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 35%;
  margin-left: 350px;
}

.photo_des{
  display: inline;
  text-align: center;
}

.cancel{
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 9px 3px -5px #f96900;
  font-size: 18px;
  margin-left: 20px;
  margin-top: 20px;
  border-color: #333;
  transition: 0.3s;
}

.cancel:hover{
  color: whitesmoke;
  background-color: #333;
  border-color: whitesmoke;
}

.edit{
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 9px 3px -5px #f96900;
  font-size: 18px;
  margin-left: 20px;
  margin-top: 20px;
  border-color: #333;
  transition: 0.3s;
}

.edit:hover{
  color: whitesmoke;
  background-color: #333;
  border-color: whitesmoke;
}

.buttons{
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 10px;
}