@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.eventShowMainBody{
  display: flex;
  flex-direction: row;
  padding: 40px;
  color: #e9ebed;
  font-family: 'Poppins', sans-serif;
  
}

.mainLeftShowPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30vw;
  height: 87vh;
  background-color: rgba(245, 245, 245, 0.054);
  text-align: center;
  border-radius: 50px;
}

.mainRightShowPage{
  display: flex;
  flex-direction: row;
  width: 70vw;
  height: 87vh;
  /* border: solid 3px #f96900; */
  background-color: #243b4a;
}

.mainRightLeft{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 15vw;
  margin: 0;
  margin: 20px 0 20px 20px;
}

.mainRightRight{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55vw;
  margin: 0;
  text-align: center;
  padding-right: 0;
}

.tab{
  font-size: 30px;
  background-color: transparent;
  width: 10vw;
  height: 6vh;
  /* border:  solid 1px #f96900; */
  text-overflow: ellipsis;
  transition: 0.5s;
  border-radius: 50px;
  border: none;
  color: orange;
}


.tab:hover {
  color: whitesmoke;
}

.tab:focus{
  color: whitesmoke;
}

.mainLeftShowPage > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventTitle {
  margin: 0 0 30px 0;
}

.details {
  margin: 0 0 25px 0;
}

.edit_link{
  text-decoration: none;
  font-size: 30px;
  color: whitesmoke;
  transition: 0.3s;
}

.edit_link:hover{
  color: orange;
}

.photo_card{
  overflow-y: hidden;
}

.image{
  border-radius: 50px;
}

@media (max-width: 974px) {
  .eventShowMainBody{
    display: flex;
    flex-direction: column;
    padding: 40px;
    color: #e9ebed;
  }

  .photo_card{
    overflow-y: hidden;
  }

  .mainLeftShowPage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90vw;
    height: 20vh;
    text-align: center;
    position: relative;
    overflow-y: hidden;
  }
  .mainRightShowPage{
    display: flex;
    flex-direction: row;
    width: 90vw;
    background-color: #243b4a;
    margin-right: 20px;
  }
  .mainRightLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 15vw;
    margin: 20px 20px 20px 20px;
  }
  .mainRightRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: 0;
    text-align: center;
  }
  .tab{
    font-size: 20px;
    width: 15vw;
    height: 6vh;
  }
  .tab_food{
    font-size: 20px;
    width: 15vw;
    height: 6vh;
  }

  .details{
    margin: 0;
  }
}
