.eventShowMainBody{
  display: flex;
  flex-direction: row;
  padding: 40px;
  color: #e9ebed;
}

.mainLeftShowPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30vw;
  height: 87vh;
  /* border-left: solid 3px #f96900;
  border-top: solid 3px #f96900;
  border-bottom: solid 3px #f96900; */
  text-align: center;
}

.mainRightShowPage{
  display: flex;
  flex-direction: row;
  width: 70vw;
  height: 87vh;
  border: solid 3px #f96900;
  background-color: #243b4a;
}

.mainRightLeft{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 15vw;
  margin: 0;
  margin: 20px 0 20px 20px;
}

.mainRightRight{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55vw;
  margin: 0;
  text-align: center;
}

.tab{
  font-size: 30px;
  background-color: #e9ebed;
  width: 10vw;
  height: 6vh;
  border:  solid 1px #f96900;
  text-overflow: ellipsis;
  transition: 0.5s;
}


.tab:hover {
  background-color: #f96900;
  border-color: whitesmoke;
}

.mainLeftShowPage > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventTitle {
  margin: 0 0 30px 0;
}

.details {
  margin: 0 0 25px 0;
}

@media (max-width: 974px) {
  .eventShowMainBody{
    display: flex;
    flex-direction: column;
    padding: 40px;
    color: #e9ebed;
  }
  .mainLeftShowPage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90vw;
    height: 20vh;
    text-align: center;
  }
  .mainRightShowPage{
    display: flex;
    flex-direction: row;
    width: 90vw;
    background-color: #243b4a;
    margin-right: 20px;
  }
  .mainRightLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 15vw;
    /* margin: 0; */
    margin: 20px 20px 20px 20px;
  }
  .mainRightRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: 0;
    text-align: center;
  }
  .tab{
    font-size: 16px;
    background-color: #e9ebed;
    width: 15vw;
    height: 6vh;
    border:  solid 1px #f96900;
  }
  .tab_food{
    font-size: 14px;
    background-color: #e9ebed;
    width: 15vw;
    height: 6vh;
    border:  solid 1px #f96900;
  }
}
