.list {
  list-style: none;
}

.addComment {
  border: none;
  border-radius: 50px;
  color: #f96900;
  transition: 0.5s;
  margin-left: 10px;
  margin-bottom: 20px;
  background-color: transparent;
}

.addComment:hover {
  color: whitesmoke;
  background-color: transparent;
  font-size: 22px;
}

.hide{
  color: transparent;
  display: inline-block;
  transition: 0.6s;
}

.addComment:hover + .hide{
  color: #f96900;
}

.delete {
  border: none;
  color: #f96900;
  border-radius: 50px;
  transition: 0.5s;
  margin-left: 10px;
}

.delete:hover {
  color: red;
}

.commentArea {
  border: solid 1px black;
  height: 60vh;
  width: 45vw;
  background-color: #e9ebed;
  opacity: 0.9;
  padding: 30px;
  overflow-y: auto;
  color: black;
}

.tab {
  color: black;
  margin-bottom: 25px;
}