.main{
  border:  solid 1px #f96900;
  width: 53vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 2vw 0 0;
}

.mainNextDiv{
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 45vw;
  border: solid 1px black;
  background-color: #e9ebed;
  overflow-y: auto;
  color: black;
}

.list {
  list-style: none;
}

.addComment {
  border: none;
  background-color: #333;
  border-radius: 50px;
  color: whitesmoke;
  transition: 0.5s;
  margin-left: 10px;
  margin-bottom: 20px;
}

.addComment:hover {
  color: #f96900;
  background-color: whitesmoke;
}