.addBtn {
  border: none;
  background-color: transparent;
  border-radius: 50px;
  color: whitesmoke;
  transition: 0.5s;
  margin-left: 10px;
  font-size: 23px;
}

.addBtn:hover {
  color: #f96900;
}

