@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.nav{
  justify-content: center;
  text-align: center;
  display: flex;
  margin-left: 0;
  background-color: #333;
  padding-bottom: 0;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;

}

.username{
  justify-content: left;
  display: flex;
  margin-right: 200px;
  font-size: 20px;
  color: whitesmoke;
  margin-top: 14px;
}

.event{
  margin-right: 15px;
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  margin-top: 14px;
  transition: 0.4s;
}

.event:hover{
  font-size: 22px;
}

.add_event{
  margin-right: 15px;
  text-decoration: none;
  font-size: 20px;
  color: whitesmoke;
  margin-top: 14px;
  transition: 0.4s;
}

.add_event:hover{
  font-size: 22px;
}

.all_events{
  margin-right: 15px;
  text-decoration: none;
  font-size: 20px;
  color: whitesmoke;
  margin-top: 14px;
  transition: 0.4s;
}

.all_events:hover{
  font-size: 22px;
}

.log_out{
  margin-right: 15px;
  text-decoration: none;
  font-size: 20px;
  color: whitesmoke;
  margin-top: 14px;
  transition: 0.4s;
}

.log_out:hover{
  font-size: 22px;
}

.change{
  margin-right: 15px;
  text-decoration: none;
  font-size: 20px;
  color: whitesmoke;
  margin-top: 14px;
  transition: 0.4s;
}

.change:hover{
  font-size: 22px;
}

#nav:hover {
  color: #fa8c3e;
}

@media (max-width: 974px){
  .nav{
    justify-content: center;
    text-align: center;
    display: flex;
    margin-left: 0;
    background-color: #333;
    padding-bottom: 0;
    overflow-x: hidden;
  }

  .username{
    justify-content: left;
    display: flex;
    font-size: 20px;
    color: whitesmoke;
    margin-top: 14px;
  }
  
  .event{
    margin-right: 30px;
    display: flex;
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
    margin-top: 14px;
    transition: 0.4s;
    margin-left: 20px;
  }

  .add_event{
    font-size: 15px;
  }

  .all_events{
    font-size: 15px;
  }

  .change{
    font-size: 15px;
  }

  .log_out{
    font-size: 15px;
    margin-right: 90px;
  }

  .username{
    display: none;
  }
}