.name{
  display: grid;
  text-align: center;
  align-items: center;
  font-size: 25px;
  border-bottom: 3px solid #333;
}

.owner{
  display: grid;
  font-size: 15px;
}

.cards {
  width: 100%;
  display: flex;
  
}

.card {
  margin: 100px;
  max-width: 500px;
  /* max-height: 350px;  */
  box-shadow: 0 40px 60px -6px black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 9px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.604), rgb(243, 163, 77));
  transition: 0.5s;
  font-family: 'Poppins', sans-serif;
}

.card:hover{
  color: whitesmoke;
  cursor: pointer;
  border-radius: 9px;
}

.card {
  position: relative;
  min-height: 200px;
  background-image: linear-gradient(
    to right,
    hsl(31, 92%, 49%)
    hsl(33, 89%, 93%),
  );
  z-index: 1;
  border-radius: 9px;
}

.card::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    hsl(33, 89%, 93%),
    hsl(31, 92%, 49%)
  );
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
  border-radius: 9px;
}
.card:hover::before {
  opacity: 1;
  border-radius: 9px;
}

.card_desc {
  font-size: 15px;
  margin-top: 10px;
}

.details{
  margin-left: 5px;
  text-decoration: none;
  color: #333;
}

.image{
  border-radius: 9px;
}

.footer{
  justify-content: center;
  align-items: center;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 225px;
}

.edit{
  margin-right: 10px;
  margin-top: 10px;
  padding-left: 13px;
  margin-left: 20px;
  color: #333;
  transition: 0.5s;
  font-size: 22px;
}

.edit:hover{
  color: white;
}


.delete{
  border: none;
  border-radius: 50px;
  color: #333;
  transition: 0.5s;
  background-color: transparent;
  font-size: 22px;
}

.delete:hover{
  color: red;
}

.event_card_link{
  text-decoration: none;
  color: #333;
  transition: 0.5s;
}

.event_card_link:hover{
  color: whitesmoke;
}