.owner{
  display: flex;
  text-align: center;
  align-items: center;
}

.cards {
  width: 100%;
  display: flex;

}

.card {
  margin: 100px;
  max-width: 500px;
  /* max-height: 350px;  */
  box-shadow: 0 40px 60px -6px black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card_desc {

  font-size: 15px;
}