.container {
  width: 90%;
  max-width: 2040px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.header{
  text-align: center;
  align-items: center;
  display: flex;
  position: relative;
  justify-content: center;
}

.card{
  justify-content: center;
  display: grid;
}