.main{
  border:  solid 1px #f96900;
  width: 53vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 2vw 0 0;
}

.mainFoodSupDiv{
  text-align: center;
  padding-bottom: 20px;
}

.hostList{
  border: solid 1px black;
  height: 40vh;
  width: 35vw;
  background-color: #e9ebed;
  padding: 0 30px;
}

.guestsBring{
  border: solid 1px black;
  height: 30vh;
  width: 35vw;
  background-color: #e9ebed;
}

.addItemForm{
  padding-top: 20px;
}

h2{
  padding: 10px;
}

h3{
  padding: 10px;
}

#addBtn {
  background-color: #e9ebed;
}

#inputField {
  background-color: #e9ebed;
}

.addEvtBtn {

}

.inputField {
  width: 30vw;
}

@media (max-width: 974px) {
  .main{
    border:  solid 1px #f96900;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2vw 0 0;
  }
}

.addComment {
  border: none;
  background-color: #333;
  border-radius: 50px;
  color: whitesmoke;
  transition: 0.5s;
  margin-left: 10px;
  margin-bottom: 20px;
}

.addComment:hover {
  color: #f96900;
  background-color: whitesmoke;
}

.list {
  list-style: none;
}